
.button {
  display: inline-flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: $mainBorderRadius;
  cursor: pointer;
  border: 1px solid;
  font-family: Gotham-Bold, sans-serif;
  letter-spacing: 1px;
  @include transition();


  &.mainColor {
    background-color: $buttonPrimary;
    color: $textWhite;
    border-color: $buttonPrimary;

    &:hover {
      background-color: $textWhite;
      color: $textMain;
    }
  }

  &.secondaryColor {
    background-color: $buttonSecondary;
    color: $textdarkVV;
    border-color: $buttonSecondary;

    &:hover {
      background-color: $textdarkVV;
      color: $textWhite;
    }
  }

  &.transparent {
    background-color: $backgroundWhite;
    color: $textMain;
    border-color: $buttonPrimary;

    &:hover {
      background-color: $buttonPrimary;
      color: $textWhite;
    }
  }

  &.blackWhite {
    background-color: $backgroundWhite;
    color: $textdarkVV;
    border: none;

    &:hover {
      background-color: $backgroundComponentDarkVV;
      color: $textWhite;
    }
  }

  $socialColors: ( facebook: #556fa7, twitter: #31b0e3, google: #ea4d40, instagram: #d23e75, whatsapp: #3ab652, viber: #3e425f, message: #9ba9be, sale: #35cf66 );

  @each $name, $color in $socialColors {

    &.#{$name} {
      background-color: $color;
      color: $textWhite;
      border-color: $color;

      &:hover {
        background-color: rgba($color, .6);
      }
    }
  }
}

.icon {
  display: inline-flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  $icons: ( ios:ios, message:message, car:car, pin:pin, editActive:editActive, money: money, service:service, comment:comment, commentGrey:commentGrey, property:property, add:add, addActive:addActive, like:like, likeActive:likeActive, dislike:dislike, dislikeActive:dislikeActive, job:job, arrowL:arrowL, arrowR:arrowR, replySmall:replySmall, reportSmall:reportSmall, pets:pets, empty:empty, loader:loader, marketing:marketing, messageActive:messageActive, locationActive:locationActive, on:on, theme: theme, author: author, clockWhite:clockWhite, clockGrey:clockGrey, clockActive:clockActive, change:change, view:view, sale:sale, off:off, check:check, favorite:favorite, switchOn:switchOn, fire:fire, switchOff:switchOff, locationWhite:locationWhite, android:android, repeat:repeat, reply:reply, arrow:arrow, visaCard:visaCard, edit:edit, delete:delete, dropdown:dropdown, user:user, calendar: calendar, menu: menu, tick:tick, help-support:help-support, email:email, emailActive:emailActive, search:search, searchGrey:searchGrey, searchWhite:searchWhite, smartphone:smartphone, phone:phone, password:password, twitter:twitter, help:help, city:city, person:person, personBig:personBig, pencil:pencil, facebook:facebook, facebookCircle:facebookCircle, facebookSquare:facebookSquare, instagram:instagram, instagramCircle:instagramCircle, twitterSquare:twitterSquare, twitterCircle:twitterCircle, starActive:starActive, starGrey:starGrey, starInActive:starInActive, google:google, googleCircle:googleCircle, link: link, googleSquare:googleSquare, linkedinSquare:linkedinSquare, instagramSquare:instagramSquare );

  @each $name, $icon in $icons {

    &.#{$name} {
      &:before {
        content: url("../assets/icons/#{$icon}.svg");
      }
    }
  }

  &.twitter {
    width: 16px;
    height: 16px;

    &:before {
      width: 100%;
      height: 100%;
    }
  }

  &:before {
    display: inline-block;
    font-size: 0;
  }
}

.input {
  width: 100%;
  height: 46px;
  position: relative;
  border: 1px solid $borderColor;
  display: flex;
  flex-wrap: wrap;

  > .icon {
    width: 50px;
    height: 100%;
    border-right: 1px solid $borderColor;

    &.help {
      border-right: 0;
    }
  }

  > .forgotPass {
    width: 50px;
  }

  > .inputAuthorisation {

    &.flexEndIcon {
      width: calc(100% - 100px);
    }

    width: calc(100% - 50px);
    height: 100%;
    border: 0;
    padding-left: 16px;
    font-family: Gotham-Book,sans-serif;
    font-size: 14px;
    color: $textGreyV;

    &[type=email] {
      text-transform: none !important;
    }

    &::placeholder {
      color: $textGreyV;
    }


    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.breadcrumbs {
  display: block;
  padding-bottom: 20px;
  border-bottom: 2px solid transparent;
  color: $textGrey;
  text-align: center;
  font-family: Gotham-Book,sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;

  &::first-letter {
    text-transform: uppercase;
  }


  &:hover {
    border-color: $borderColor;
    color: $textMain
  }

  &.active {
    font-family: Gotham-Bold,sans-serif;
    color: $textMain;
    border-color: $borderMainColor;
  }
}

.dropdownWrap {
  width: 100%;
  display: none;
  height: max-content;
  padding: 20px 30px 20px 24px;
  position: absolute;
  bottom: 0;
  transform: translate(0, 100%);
  z-index: 1;
  background-color: $backgroundWhite;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.2);



  > .item {
    display: block;
    font-family: Gotham-Light, sans-serif;
    font-size: 14px;
    color: $textdarkVV;
    margin-bottom: 8px;
    @include transition();

    &:hover {
      color: $textMain;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid $borderColorGreyer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;

  &:before {
    content: '';
    width: 12px;
    display: block;
    height: 12px;
    border-radius: 50%;
  }


  &:checked {
    border-color: $borderMainColor;

    &:before {
      background-color: $backgroundMain;
    }
  }
}

.checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: $backgroundWhite;
  border: 1px solid $borderColor;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: '';
    width: 6px;
    height: 9px;
    border: solid $borderColorWhite;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    visibility: hidden;
  }

  &:checked {
    background-color: $borderMainColor;
    border-color: $borderMainColor;

    &:before {
      visibility: visible;
    }
  }
}

.errorlist {
  font-size: 14px;
  color: $errorColor;
}

.hotSaleElement {
  width: 370px;
  min-width: 270px;
  margin: 0 9px 20px;
  box-shadow: 0 2px 6px 0 rgba(69, 73, 91, 0.08);

  &:nth-child(3n) {
    margin-right: 0;
  }

  > .topSide {
    width: 100%;
    display: block;
    position: relative;

    > .imgWrap {
      width: 100%;
      height: 280px;
      display: block;


      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    > .iconsWrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;

      > .iconWrap {
        display: none;
        position: absolute;

        &.noFavorite,
        &.favorite {
          top: 20px;
          right: 20px;
        }

        &.new {
          top: 20px;
          left: 20px;
          width: 60px;
          height: 30px;
          border-radius: 2px;
          background-color: #ffa63a;
          display: none;
          align-items: center;
          justify-content: center;
          font-family: Gotham-Bold, sans-serif;
          font-size: 12px;
          color: $textWhite;
          text-transform: uppercase;
        }

        &.sale {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 70px 70px 0 0;
          border-color: #35cf66 transparent transparent transparent;

          > .sale {
            position: absolute;
            transform: translate(24%, -298%) rotate(-42deg);
            font-family: Gotham-Bold, sans-serif;
            font-size: 12px;
            color: $textWhite;
            text-transform: uppercase;
          }
        }
      }

      &.noFavorite {
        > .noFavorite {
          display: block;
        }
      }

      &.favorite {
        > .favorite {
          display: block;
        }
      }

      &.new {
        > .new {
          display: flex;
        }
      }

      &.sale {
        > .sale {
          display: block;
        }
      }
    }
  }

  > .bottomSide {
    padding: 20px 32px 0 32px;
    background: $backgroundWhite;
    height: max-content;

    > .itemName {
      font-family: Gotham-Medium,sans-serif;
      font-size: 16px;
      color: #2c3440;
      width: 100%;
      display: block;
      margin-bottom: 6px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    > .cost {
      font-family: Gotham-Book;
      font-size: 18px;
      color: $mainElement;
      margin-bottom: 8px;
      text-transform: uppercase;
    }

    > .info {
      font-family: Gotham-Book, sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      color: $textGrey;

      &:first-letter {
        text-transform: uppercase;
      }
    }

    > .locationWrap {
      width: 100%;
      border-top: 1px solid #edeef4;
      padding: 16px 0;
      display: flex;
      margin-top: 16px;
      justify-content: space-between;

      > .location {
        display: flex;

        > .text {
          font-family: Gotham-Book, sans-serif;
          font-size: 14px;
          color: $textGrey;
          margin-left: 8px;
        }
      }

      > .view {
        display: flex;

        > .text {
          font-family: Gotham-Book, sans-serif;
          font-size: 14px;
          color: $textGreyV;
          margin-left: 4px;
        }
      }
    }
  }


  @media screen and (max-width: 767px) {
    width: 100% !important;
  }
}

.eventsElement {
  width: 370px !important;
  margin-right: 30px;



  > .topSide {
    width: 100%;
    height: 198px;
    position: relative;
    display: block;

    > .imgWrap {
      width: 100%;
      height: 100%;

      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    > .iconsWrap {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;

      > .dateWrap {
        width: 60px;
        background: #f42362;
        position: absolute;
        left: 32px;
        top: 0;
        height: 70px;
        display: flex;
        justify-content: center;
        -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 50% 86%);
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 50% 86%);

        > .text {
          width: 90%;
          margin-top: 6px;
          font-family: Gotham-Bold, sans-serif;
          font-size: 16px;
          text-align: center;
          color: $textWhite;
        }
      }

      > .typeWrap {
        width: 88px;
        height: 30px;
        border-radius: 2px;
        position: absolute;
        right: 20px;
        top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background-color: rgba($backgroundBlack, .6);
        color: $textWhite;
        text-transform: uppercase;
        font-family: Gotham-Bold,sans-serif;
        font-size: 12px;
        letter-spacing: 1px;
      }
    }
  }


  > .bottomSide {
    width: 100%;
    padding: 22px 32px 32px 32px;
    background-color: $mainBgColor;

    > .time,
    > .title {
      font-family: Gotham-Medium,sans-serif;
      font-size: 16px;
      color: $textdarkVV;
      margin-bottom: 16px;
    }

    > .title {
      margin-bottom: 22px;
    }

    > .location {
      display: flex;

      > .text {
        font-family: Gotham-Book, sans-serif;
        font-size: 14px;
        color: $textGrey;
        margin-left: 8px;
      }
    }
  }


  @media screen and (max-width: 767px) {
    width: 278px !important;
    margin-right: 10px;

    > .topSide {
      height: 170px;

      > .imgWrap {
        > img {
          object-fit: cover;
        }
      }
    }
  }
}

.select2-container {
  height: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;

  .select2-selection,
  .select2-selection__rendered,
  .select2-selection__arrow {
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
    line-height: 0 !important;
    color: $lightGrayV;
    border: none;
    border-radius: 0;
    outline: 0;
  }
}

.select2-dropdown {
  border-radius: 2px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  border: 0;
}

textarea {
  resize: none;
}

.cursorPointer {
  cursor: pointer;
}
