{% load static %}

<script type="text/javascript" src="{% static 'js/jquery.3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/select2/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/jquery-ui/jquery-ui.1.12.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/errors.js' %}"></script>
<script type="text/javascript" src="{% static 'js/loading.js' %}"></script>
<script type="text/javascript">
  {% if request.user.is_authenticated %}
    $(document).on('click', '.js-toggle-favorite', function(){
      $wrapper = $(this).parent('.iconsWrap');
      $.ajax({
        url: $wrapper.data('favorite-url'),
        data: {ad_id: $wrapper.data('ad-id')},
        type: 'POST',
        dataType: 'json',
      }).done(function () {
        $wrapper.toggleClass('favorite');
        $wrapper.toggleClass('noFavorite');
      });
    });
  {% else %}
    $(document).on('click', '.js-toggle-favorite', function(){
      window.location = $('#header-signin').attr('href');
    });
  {% endif %}

  $('.js-carousel-container').slick({
        slidesToShow: 3,
        slidesToScroll: 3,
        prevArrow: $('.js-carousel-prev'),
        nextArrow: $('.js-carousel-next')
  });

</script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
