{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<main class="main">
  <div class="main-content small">
    <div class="authorisation">
      <div class="leftSide ">
        <div class="leftSide-content">
          <h1 class="title">{% trans "Change your password" %}</h1>
          <h2 class="subTitle">{% trans "Enter your new password and confirm it" %}</h2>
          <div class="mainMenu">
            <div class="mainMenu-topSide">
              <form method="post" novalidate>
                {% csrf_token %}
                <div class="element input">
                  <i class="icon password"></i>
                  {{ form.password|attr:"class:inputAuthorisation"|attr:"placeholder:New Password" }}
                </div>
                {{ form.password.errors }}

                <div class="element input">
                  <i class="icon password"></i>
                  {{ form.password_confirmation|attr:"class:inputAuthorisation"|attr:"placeholder:Repeat Password" }}
                </div>
                {{ form.password_confirmation.errors }}

                {{ form.non_field_errors }}

                <div class="element">
                  <input type="submit" class="button mainColor" value='{% trans "Change password and return to sign in" %}'>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="rightSide">
        <div class="rightSide">
          <img src="{% static 'assets/images/forgotPass/bg.jpg' %}"
               srcset="{% static 'assets/images/forgotPass/bg.jpg' %} 1x,
                                {% static 'assets/images/forgotPass/bg@2x.jpg' %} 2x,
                                {% static 'assets/images/forgotPass/bg@3x.jpg' %} 3x"/>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}