{% extends 'base.html' %}

{% load static %}

{% block content %}

<main class="main about">
  <div class="main-content">
    <div class="aboutUs">
      <div class="heading">
        <h1 class="title">About us</h1>
      </div>
      <div class="mainMenu">
        <p class="mainText">It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
          containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.</p>
        <div class="elementWrap">
          <div class="element">
            <div class="logoWrap">
              <span></span>
            </div>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt</p>
          </div>
          <div class="element">
            <div class="logoWrap">
              <span></span>
            </div>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt</p>
          </div>
          <div class="element">
            <div class="logoWrap">
              <span></span>
            </div>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt</p>
          </div>
        </div>
        <div class="mobileElementWrap">
          <div class="element">
            <div class="logoWrap">
              <span></span>
            </div>
            <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt
            </p>
          </div>
          <div class="element">
            <div class="logoWrap">
              <span></span>
            </div>
            <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt
            </p>
          </div>
          <div class="element">
            <div class="logoWrap">
              <span></span>
            </div>
            <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt
            </p>
          </div>
        </div>
      </div>
      <div class="teamList">
        <div class="teamList-wrap">
          <h1 class="title">Our team</h1>
          <div class="elementWrap">
            <div class="element">
              <div class="imgWrap">
                  <img src="{% static 'assets/images/aboutus/1.jpg' %}" srcset="{% static 'assets/images/aboutus/1.jpg' %} 1x, {% static 'assets/images/aboutus/1@2x.jpg' %} 2x, {% static 'assets/images/aboutus/1@3x.jpg' %} 3x">
              </div>
              <h1 class="title">noah malone</h1>
              <h1 class="subTitle">CEO/Founder</h1>
              <p class="text">
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged.
              </p>
            </div>
            <div class="element">
              <div class="imgWrap">
                  <img src="{% static 'assets/images/aboutus/2.jpg' %}" srcset="{% static 'assets/images/aboutus/2.jpg' %} 1x, {% static 'assets/images/aboutus/2@2x.jpg' %} 2x, {% static 'assets/images/aboutus/2@3x.jpg' %} 3x">
              </div>
              <h1 class="title">noah malone</h1>
              <h1 class="subTitle">CEO/Founder</h1>
              <p class="text">
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged.
              </p>
            </div>
            <div class="element">
              <div class="imgWrap">
                  <img src="{% static 'assets/images/aboutus/3.jpg' %}" srcset="{% static 'assets/images/aboutus/3.jpg' %} 1x, {% static 'assets/images/aboutus/3@2x.jpg' %} 2x, {% static 'assets/images/aboutus/3@3x.jpg' %} 3x">
              </div>
              <h1 class="title">noah malone</h1>
              <h1 class="subTitle">CEO/Founder</h1>
              <p class="text">
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged.
              </p>
            </div>
            <div class="element">
              <div class="imgWrap">
                <img src="{% static 'assets/images/aboutus/4.jpg' %}" srcset="{% static 'assets/images/aboutus/4.jpg' %} 1x, {% static 'assets/images/aboutus/4@2x.jpg' %} 2x, {% static 'assets/images/aboutus/4@3x.jpg' %} 3x">
              </div>
              <h1 class="title">noah malone</h1>
              <h1 class="subTitle">CEO/Founder</h1>
              <p class="text">
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged.
              </p>
            </div>
            <div class="element">
              <div class="imgWrap">
                  <img src="{% static 'assets/images/aboutus/5.jpg' %}" srcset="{% static 'assets/images/aboutus/5.jpg' %} 1x, {% static 'assets/images/aboutus/5@2x.jpg' %} 2x, {% static 'assets/images/aboutus/5@3x.jpg' %} 3x">
              </div>
              <h1 class="title">noah malone</h1>
              <h1 class="subTitle">CEO/Founder</h1>
              <p class="text">
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged.
              </p>
            </div>
            <div class="element">
              <div class="imgWrap">
                  <img src="{% static 'assets/images/aboutus/6.jpg' %}" srcset="{% static 'assets/images/aboutus/6.jpg' %} 1x, {% static 'assets/images/aboutus/6@2x.jpg' %} 2x, {% static 'assets/images/aboutus/4@3x.jpg' %} 3x">  
              </div>
              <h1 class="title">noah malone</h1>
              <h1 class="subTitle">CEO/Founder</h1>
              <p class="text">
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}