.profile {
  width: 100%;

  > .heading {
    width: 100%;
    box-shadow: inset 0 -1px 0 0 rgba(199, 199, 199, 0.3);

    > .heading-topSide {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > .title {
        font-family: Gotham-Bold, sans-serif;
        font-size: 24px;
        font-weight: 500;
        color: $textBlack;
        text-transform: capitalize;
      }

      > .element {
        width: 270px;
        height: 44px;
        font-size: 14px;
      }
    }

    > .heading-bottomSide {
      width: 100%;
      display: flex;
      justify-content: space-between;

      > .elementWrap {
        display: flex;
        justify-content: flex-start;

        > .element {
          margin-right: 24px;
        }
      }

      > .switchWrap {

        > form {
          > span {
            display: inline-flex;
            align-items: center;
            margin-right: 28px;

            &:last-child {
              margin-right: 0;
            }


            > label {
              font-family: Gotham-Medium, sans-serif;
              font-size: 14px;
              color: $textGrey;
              text-transform: capitalize;
              margin-left: 8px;
            }
          }
        }
      }
    }
  }

  > .mainMenu {
    width: 100%;
    display: flex;
    padding-top: 68px;
    padding-bottom: 88px;

    &.personalInfo {

      > div {
        > .title {
          font-family: Gotham-Bold, sans-serif;
          font-size: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: $textdarkVV;
          margin-bottom: 30px;
        }
      }

      > .mobileDropdown {
        display: none;
      }

      > .leftSide {
        max-width: 436px;
        width: 100%;
        height: 544px;
        padding-right: 64px;

        > .iconWrap {
          width: 100px;
          display: flex;
          justify-content: center;
          margin: 0 auto 16px auto;
          position: relative;

          > .bigCircle {
            width: 100px;
            height: 100px;
            background-color: #e8f2ff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: relative;
            background: url('../assets/icons/personBig.svg');
            background-repeat: no-repeat;
            background-position: center;

            &:before {
              content: '';
              width: 100%;
              height: 100%;
              background-color: #e8f2ff;
              border-radius: 50%;
              overflow: hidden;
              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
            }

            > .img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          > .tinnyCircle {
            width: 32px;
            height: 32px;
            cursor: pointer;
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $backgroundMain;
            border-radius: 50%;
          }
        }

        > .elementWrap {
          width: 100%;

          > form {
            width: 100%;

            > .title {
              font-family: Gotham-Medium, sans-serif;
              font-size: 12px;
              font-weight: 700;
              color: $textGreyVV;
              margin-bottom: 6px;
              text-transform: capitalize;
            }

            > .element {
              width: 100%;
              height: 44px;
              margin-bottom: 16px;
              font-size: 14px;
              text-transform: capitalize;

              &:last-child {
                margin-bottom: 0;
              }

              > .inputAuthorisation {
                display: flex;
                align-items: center;
              }

              &:hover {
                > .dropdownWrap {
                  display: block;
                }
              }
            }
          }
        }
      }

      > .middle {
        padding: 0 64px;
        height: 544px;
        border: 1px solid $borderColor;
        border-top: 0;
        border-bottom: 0;
        max-width: 498px;
        width: 100%;

        > form {
          width: 100%;

          > .title {
            font-family: Gotham-Medium, sans-serif;
            font-size: 12px;
            font-weight: 700;
            color: $textGreyVV;
            margin-bottom: 6px;
            text-transform: capitalize;
          }

          > .element {
            width: 100%;
            height: 44px;
            margin-bottom: 16px;
            text-transform: capitalize;
            font-size: 14px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      > .rightSide {
        padding-left: 64px;


        > form {
          width: 170px;

          > .text {
            font-family: Gotham-Book, sans-serif;
            font-size: 12px;
            font-weight: 500;
            line-height: 1.82;
            color: $textGrey;
            margin-bottom: 16px;
            margin-top: 21px;
          }

          > .item {

            > span {
              display: inline-flex;
              align-items: center;
              margin-right: 30px;
              text-transform: capitalize;
              font-family: Gotham-Book, sans-serif;
              font-size: 14px;
              font-weight: normal;
              color: $textdarkVV;

              &:last-child {
                margin-right: 0;
              }

              > .checkbox {
                -webkit-appearance: none;
                -moz-appearance: none;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: 2px solid $borderColorGreyer;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-right: 8px;

                &:before {
                  content: '';
                  width: 12px;
                  display: block;
                  height: 12px;
                  border-radius: 50%;
                }


                &:checked {
                  border-color: $borderMainColor;

                  &:before {
                    background-color: $backgroundMain;
                  }
                }
              }
            }
          }

          > .element {
            width: 100%;
            height: 44px;
            margin-top: 36px;
            text-transform: capitalize;
            font-size: 14px;
          }
        }
      }
    }

    &.my-Ads {
      background-color: $mainBgColor;

      > .container {
        display: grid;
        width: 100%;
        grid-auto-rows: 82px;
        grid-template-rows: 50px;
        grid-template-columns: auto auto auto auto auto;
        grid-row-gap: 8px;

        > div {
          display: inline-flex;
          align-items: center;
          height: 100%;

          > .title {
            font-family: Gotham-Bold, sans-serif;
            font-size: 12px;
            letter-spacing: 1px;
            color: $textdarkVV;
            text-transform: uppercase;
          }
        }

        > .heading {
          display: inline-flex;
          align-items: center;
          color: $textDarkGrey;
          margin-left: 15px;

          > .checkbox {
            margin-right: 16px;
          }
        }

        > .column {
          display: inline-flex;
          align-items: center;
          font-family: Gotham-Book, sans-serif;
          font-size: 14px;
          color: $textDarkGrey;
          padding-left: 15px;
          box-shadow: 0 2px 0 0 rgba(69, 73, 91, 0.08);
          background-color: $backgroundWhite;

          > .imgWrap {
            margin: 0 16px;
            display: inline-flex;
            align-items: center;
            max-width: 330px;

            > .img {
              width: 50px;
              height: 50px;
              display: inline-block;

              > img {
                object-fit: contain;
                width: 100%;
                height: 100%;
              }
            }

            > .text {
              font-family: Gotham-Medium, sans-serif;
              font-size: 14px;
              font-weight: 500;
              color: $textDarkGrey;
              margin-left: 15px;
              width: 100%;
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          > .checkbox {
            margin-right: 16px;
          }

          &.messages {

            > .iconWrap {
              margin-left: 8px;
            }
          }

          &.actions {
            > .iconWrap {
              margin-right: 16px;
              cursor: pointer;

              &:last-child {
                margin-right: 0;
              }
            }

            > .switchWrap {

              > .switch {
                display: none;

                &:checked + label > i {
                  background-image: url("../assets/icons/switchOn.svg");
                }
              }

              > label {
                width: 40px;
                height: 25px;

                > .icon {
                  background-image: url("../assets/icons/switchOff.svg");
                }
              }
            }

            > .switchWrap,
            > .repeat {
              display: none;

              &.active {
                display: inline-block;
              }
            }
          }
        }
      }
    }

    &.messages {
      background-color: $mainBgColor;

      > .container {
        display: grid;
        width: 100%;
        grid-auto-rows: 118px;
        grid-template-rows: 50px;
        grid-template-columns: auto auto auto auto;
        grid-row-gap: 8px;

        > div {
          display: inline-flex;
          align-items: center;
          height: 100%;

          > .title {
            font-family: Gotham-Medium, sans-serif;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1px;
            color: $textdarkVV;
            text-transform: uppercase;
          }
        }

        > .heading {
          display: inline-flex;
          align-items: center;
          font-family: Gotham-Bold, sans-serif;
          font-size: 14px;
          color: $textDarkGrey;
          margin-left: 15px;

          &.actions {
            justify-content: flex-end;
            padding-right: 24px;
          }

          > .checkbox {
            margin-right: 16px;
          }
        }

        > .column {
          align-items: flex-start;
          font-family: Gotham-Book, sans-serif;
          font-size: 14px;
          color: $textDarkGrey;
          padding-left: 15px;
          box-shadow: 0 2px 0 0 rgba(69, 73, 91, 0.08);
          background-color: $backgroundWhite;
          padding-top: 30px;

          > .textWrap {
            margin: 0 16px;
            width: calc(431px - 48px);

            > .title {
              font-family: Gotham-Medium, sans-serif;
              font-size: 14px;
              font-weight: 500;
              color: $textDarkGrey;
              display: block;
            }

            > .text {
              font-family: Gotham-Book, sans-serif;
              font-size: 14px;
              font-weight: 500;
              color: $textDarkGrey;
              width: 95%;
              display: block;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }

          > .checkbox {
            margin-right: 16px;
          }

          &.messages {

            > .iconWrap {
              padding-left: 8px;
            }
          }

          &.actions {
            > .iconWrap {
              margin-right: 16px;
              cursor: pointer;

              &:last-child {
                margin-right: 0;
              }
            }

            > .switchWrap {

              > .switch {
                display: none;

                &:checked + label > i {
                  background-image: url("../assets/icons/switchOn.svg");
                }
              }

              > label {
                width: 40px;
                height: 25px;

                > .icon {
                  background-image: url("../assets/icons/switchOff.svg");
                }
              }
            }

            > .switchWrap,
            > .repeat {
              display: none;

              &.active {
                display: inline-block;
              }
            }
          }
        }
      }
    }

    &.messageSingle {
      background-color: $mainBgColor;

      > .container {
        max-width: $desktop;
        width: 100%;
        margin: 0 auto;

        > .breadcrumbsBottom {
          width: 100%;
          display: flex;
          justify-content: flex-start;

          > .backLink {
            font-family: Gotham-Book, sans-serif;
            font-size: 14px;
            color: $textGrey;
            display: flex;
            align-items: center;
            text-transform: capitalize;

            > .icon {
              margin-right: 8px;
            }
          }

          > .text {
            display: flex;
            align-items: center;
            margin-left: 15px;
            font-family: Gotham-Bold, sans-serif;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1px;
            color: $textdarkVV;
            text-transform: uppercase;
          }
        }

        > .messageTitle {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin: 20px 0 22px 0;
          padding-bottom: 24px;
          border-bottom: 1px solid rgba(208, 218, 226, 0.5);

          > .img {
            width: 50px;
            height: 50px;
            display: inline-block;

            > img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          > .text {
            font-family: Gotham-Book, sans-serif;
            font-size: 14px;
            color: $textdarkVV;
            margin-left: 24px;
          }
        }

        > .messageWrap {
          width: 100%;
          height: 300px;
          overflow-y: auto;
          position: relative;



          &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: #0a68ef;
            border-radius: 4px;
          }

          > .nameWrap {
            width: 100%;
            position: sticky;
            top: 0;
            padding-bottom: 16px;
            background-color: $mainBgColor;



            > .name {
              font-family: Gotham-Book, sans-serif;
              font-size: 14px;
              color: $textdarkVV;
            }
          }

          > .messages {
            width: 100%;

            > .messageBox {
              width: max-content;
              max-width: 60%;
              margin-top: 44px;

              &:first-child {
                margin-top: 0;
              }

              &.leftSide {
                margin-right: auto;

                > .text {
                  background: $messageOpponentColor;
                  border-radius: 6px;
                  border-top-left-radius: 0;
                }
              }

              &.rightSide {
                margin-left: auto;

                > .text {
                  background: $messageYourColor;
                  border-radius: 6px;
                  border-top-right-radius: 0;
                }
              }

              > .text {
                width: 100%;
                padding: 16px 18px 16px 24px;
                font-family: Gotham-Light, sans-serif;
                font-size: 14px;
                color: $textWhite;
              }

              > .date {
                display: block;
                width: 100%;
                text-align: right;
                font-family: Gotham-Book, sans-serif;
                font-size: 14px;
                color: $textdarkVV;
              }
            }
          }
        }

        > .sendWrap {
          width: 100%;
          height: 55px;
          display: flex;
          box-shadow: 0 2px 6px 0 rgba(69, 73, 91, 0.08);
          margin-top: 20px;

          > .inputAuthorisation {
            width: calc(100% - 104px);
            height: 100%;
          }

          > .element {
            width: 104px;
            height: 100%;

            > .button {
              border-radius: 2px;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              text-transform: uppercase;
              font-size: 12px;
            }
          }
        }
      }
    }

    &.favorites {
      background-color: $mainBgColor;

      > .container {
        display: grid;
        width: 100%;
        grid-auto-rows: 82px;
        grid-template-columns: auto auto auto auto;
        grid-row-gap: 8px;

        > div {
          display: inline-flex;
          align-items: center;
          height: 100%;

          > .title {
            font-family: Gotham-Medium, sans-serif;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1px;
            color: $textdarkVV;
            text-transform: uppercase;
          }
        }

        > .column {
          align-items: center;
          font-family: Gotham-Book, sans-serif;
          font-size: 14px;
          color: $textDarkGrey;
          padding-left: 15px;
          box-shadow: 0 2px 0 0 rgba(69, 73, 91, 0.08);
          background-color: $backgroundWhite;


          > .element {
            width: 50px;
            height: 50px;

            > .img {
              width: 100%;
              height: 100%;
              display: inline-block;

              > img {
                object-fit: cover;
                width: 100%;
                height: 100%;
              }
            }
          }

          > .textWrap {
            margin: 0 16px;

            > .title {
              font-family: Gotham-Medium, sans-serif;
              font-size: 14px;
              font-weight: 500;
              color: $textDarkGrey;
            }

            > .text {
              font-family: Gotham-Book, sans-serif;
              font-size: 14px;
              font-weight: 500;
              color: $textDarkGrey;
            }
          }

          > .checkbox {
            margin-right: 16px;
          }

          &.messages {

            > .iconWrap {
              margin-left: 8px;
            }
          }

          &.actions {
            justify-content: flex-end;

            > .iconWrap {
              margin-right: 16px;
              cursor: pointer;
            }

            > .switchWrap {

              > .switch {
                display: none;

                &:checked + label > i {
                  background-image: url("../assets/icons/switchOn.svg");
                }
              }

              > label {
                width: 40px;
                height: 25px;

                > .icon {
                  background-image: url("../assets/icons/switchOff.svg");
                }
              }
            }

            > .switchWrap,
            > .repeat {
              display: none;

              &.active {
                display: inline-block;
              }
            }
          }
        }
      }
    }

    &.history {
      background-color: $mainBgColor;

      > .container {
        display: grid;
        width: 100%;
        grid-auto-rows: 56px;
        grid-template-columns: auto auto auto auto auto;
        grid-row-gap: 8px;

        > div {
          display: inline-flex;
          align-items: center;
          height: 100%;

          > .title {
            font-family: Gotham-Bold, sans-serif;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1px;
            color: $textdarkVV;
            text-transform: uppercase;
          }
        }

        > .heading {
          display: inline-flex;
          align-items: center;
          font-family: Gotham-Book, sans-serif;
          font-size: 14px;
          color: $textDarkGrey;
          margin-left: 15px;
        }

        > .column {
          display: inline-flex;
          align-items: center;
          font-family: Gotham-Book, sans-serif;
          font-size: 14px;
          color: $textDarkGrey;
          padding-left: 15px;
          box-shadow: 0 2px 0 0 rgba(69, 73, 91, 0.08);
          background-color: $backgroundWhite;

          &.cost {
            font-weight: 700;
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {

    > .heading {
      padding: 0 15px;

      > .heading-topSide {
        flex-wrap: wrap;
        margin-bottom: 15px;

        > .title {
          font-size: 18px;
        }

        > .element {
          width: 100%;
        }
      }

      > .heading-bottomSide {
        flex-wrap: wrap;

        > .elementWrap {
          overflow-x: scroll;

          > .element {
            > .breadcrumbs {
              white-space: nowrap;
            }
          }
        }

        > .switchWrap {
          width: 100%;
          height: 70px;

          > form {
            display: flex;
            height: 100%;

            > span {
              width: 50%;
            }
          }
        }
      }
    }

    > .mainMenu {
      flex-wrap: wrap;

      &.personalInfo {
        padding-bottom: 32px;

        > .mobileDropdown {
          width: 100%;
          display: block;
          padding: 0 15px 24px 15px;
          margin-bottom: 30px;
          border-bottom: 1px solid #c9c9c9;

          > .sectionTitle {
            font-family: Gotham-Medium, sans-serif;
            font-size: 12px;
            font-weight: 700;
            color: $textGreyVV;
            margin-bottom: 6px;
            text-transform: capitalize;
          }

          .select2-container {
            width: 100% !important;
            height: 40px;
            border: 1px solid $borderColor;
          }
        }

        > .leftSide,
        > .rightSide {
          padding: 0 15px;
        }

        > .leftSide {
          height: initial;
        }

        > .middle {
          padding: 24px 15px;
          height: initial;
        }

        > .rightSide {
          > form {
            width: 100%;
          }
        }
      }

      &.my-Ads {
        padding: 0;


        > .heading {
          > .heading-bottomSide {
            flex-wrap: wrap;
          }
        }

        > .container {
          grid-template-columns: repeat(3, 33%);
          grid-template-rows: repeat(3, 38px);
          grid-auto-rows: 62px;
          grid-template-areas: "heading1 heading2" "heading3 heading4" "heading5 ...";
          grid-row-gap: 0;
          overflow: hidden;

          > .heading {
            padding: 4px 0;
          }

          > .heading1 {
            grid-area: heading1;

            > .checkbox {
              margin-right: 6px;
            }
          }

          > .heading2 {
            grid-area: heading2;
          }

          > .heading3 {
            grid-area: heading3;
            padding-left: 20px;
          }

          > .heading4 {
            grid-area: heading4;
          }

          > .heading5 {
            grid-area: heading5;
            padding-left: 20px;
          }

          > .oneLine {
            grid-column: 1 / span 3;
          }

          > .column {
            justify-content: space-around;
            margin: 0;

            &.messages {
              justify-content: center;
            }

            &.actions {
              box-shadow: inset 0 -1px 0 0 rgba(199, 199, 199, 0.3);
            }
          }
        }


        &.inactive {
          > .container {
            > .column {
              justify-content: center;
              margin: 0;


              &.actions {
                padding-inline-start: 40px;
                justify-content: flex-start;
                box-shadow: inset 0 -1px 0 0 rgba(199, 199, 199, 0.3);

                > .iconWrap {
                  margin-right: 36px;
                }
              }
            }
          }
        }
      }

      &.messages {
        padding-top: 18px;
        padding-bottom: 0;

        > .container {
          grid-template-columns: 25% 25% 15% 35%;
          grid-template-rows: repeat(2, 38px);
          grid-auto-rows: auto;
          grid-template-areas: "heading1 heading1 heading2 heading2" "heading3 heading3 heading4 heading4";
          grid-row-gap: 0;
          background: $backgroundWhite;
          overflow: hidden;

          > .heading {
            padding: 0 0 16px 15px;
            margin: 0;
            background: $mainBgColor;
          }

          > .heading1 {
            grid-area: heading1;

            > .checkbox {
              margin-right: 6px;
            }
          }

          > .heading2 {
            grid-area: heading2;
          }

          > .heading3 {
            grid-area: heading3;
            padding-inline-start: 37px;
          }

          > .heading4 {
            grid-area: heading4;
          }

          > .heading5 {
            grid-area: heading5;
            padding-left: 20px;
          }


          > .column {
            justify-content: space-around;
            margin: 0;
            padding: 0;
            box-shadow: initial;

            > .textWrap {
              margin: 0 8px;

              > .text {
                white-space: initial;
              }
            }

            &.actions {
              grid-column: 4 / 5;
              justify-content: flex-start;

              > .iconWrap {
                margin-right: 24px;
              }
            }

            &.messages {
              justify-content: center;
            }
          }

          > .oneLine {
            padding: 24px 8px 0 8px;

            > .element {
            }

            grid-column: 1 / span 4;
          }

          > .mail,
          > .time {
            justify-content: flex-start;
            grid-column: 1 / span 3;
            padding-inline-start: 32px;
          }

          > .mail {

            > span {
              width: 100%;
              overflow: hidden;
              white-space: nowrap;
              display: block;
              text-overflow: ellipsis;
            }
          }

          > .time {
            box-shadow: inset 0 -1px 0 0 rgba(199, 199, 199, 0.3);
            align-items: flex-start;
            padding-top: 8px;
          }

          > .actions {
            grid-column: 3 / 4;
            padding-block-end: 24px;
            box-shadow: inset 0 -1px 0 0 rgba(199, 199, 199, 0.3);
          }
        }
      }

      &.messageSingle {
        padding: 14px 15px 32px 15px;

        > .container {
          > .messageWrap {
            > .messages {

              > .messageBox {
                width: max-content;
              }
            }
          }

          > .sendWrap {
            > .inputAuthorisation {
              width: calc(100% - 55px);
            }

            > .element {
              width: 55px;

              > .button {
                &:before {
                  content: url('../assets/icons/message.svg');
                  font-size: 0;
                }
              }
            }
          }
        }
      }

      &.favorites {
        padding: 0;

        > .container {
          padding: 0 15px;
          grid-template-columns: repeat(3, 33.333333333333333%);
          grid-row-gap: 0;
          background-color: $backgroundWhite;

          > .column {
            justify-content: center;
            padding: 0;

            &.actions {
              justify-content: center;
              margin: 0;
            }

            &.oneLine {
              padding: 0 15px;
              justify-content: center;
              grid-column: 1 / span 3;

              > .textWrap {
                > .text {
                  display: none;
                }
              }
            }
          }
        }
      }

      &.history {
        padding: 0;

        > .container {
          grid-template-columns: repeat(3, 33.3333%);
          grid-template-areas: 'heading1 heading2 heading2' 'heading3 heading4 heading5 ';
          grid-gap: 0;


          > .heading1 {
            grid-area: heading1;
          }

          > .heading2 {
            grid-area: heading2;
          }

          > .heading3 {
            grid-area: heading3;
          }

          > .heading4 {
            grid-area: heading4;
          }

          > .heading5 {
            grid-area: heading5;
          }

          > .allLine {
            grid-column: 2 / 4;
          }

          > .cost {
            justify-content: flex-end;
            padding-inline-end: 15px;
          }

          > .shadow {
            box-shadow: inset 0 -1px 0 0 rgba(199, 199, 199, 0.3);
          }
        }
      }
    }
  }
}
